@using SalesAnalysis.Models
@using PagedList;
@using PagedList.Mvc;

@Styles.Render("~/Content/PagedList.css")
 
@{
    ViewBag.Title = "Sales statistics";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Sales statistics</h2>


<fieldset>
    <legend></legend>
    <table class="table">
        <tr>
            <th>
                <text>Manager</text>
            </th>
            <th>
                <text>Client</text>
            </th>
            <th>
                <text>Product</text>
            </th>
            <th>
                <text>Date From</text>
            </th>
            <th>
                <text>Date To</text>
            </th>

        </tr>

        <tr>
            <td>
                @Html.DropDownList("ManagerId", (SelectList)ViewBag.ManagersList, "All managers")
            </td>
            <td>
                @Html.DropDownList("ClientId", (SelectList)ViewBag.ClientsList, "All clients")
            </td>
            <td>
                @Html.DropDownList("ProductId", (SelectList)ViewBag.GoodsList, "All goods")
            </td>
            <td>
                <input type="text" id="datefrom" class="datepicker">
            </td>
            <td>
                <input type="text" id="dateto" class="datepicker">
            </td>

        </tr>


    </table>
</fieldset>


<div id="salesfiltered">
    @{Html.RenderAction("SalesFiltered", "Sales"); }
</div>




<script src="//code.jquery.com/jquery-1.10.2.js"></script>
<script src="//code.jquery.com/ui/1.10.4/jquery-ui.js"></script>

<script>
    $(document).ready(function ()
    {
        $("#datefrom").datepicker({
            //dateFormat: "dd/mm/yy",
            showButtonPanel: true,
            defaultDate: "-1m",
            changeMonth: true,
            numberOfMonths: 1,
            onClose: function (selectedDate) {
                $("#dateto").datepicker("option", "minDate", selectedDate);
            }
        });
        $("#dateto").datepicker({
            //dateFormat: "dd/mm/yy",
            showButtonPanel: true,
            defaultDate: new Date(),
            changeMonth: true,
            numberOfMonths: 1,
            onClose: function (selectedDate) {
                $("#datefrom").datepicker("option", "maxDate", selectedDate);
            }
        });
    });
</script>


<script type="text/javascript">
    $(document).ready(function ()
    {
        $("#ManagerId").change(function () {
            setfilter();
        });

        $("#ClientId").change(function () {
            setfilter();
        });

        $("#ProductId").change(function () {
            setfilter();
        });

        $("#datefrom").change(function () {
            setfilter();
        });

        $("#dateto").change(function () {
            setfilter();
        });

        function setfilter() {
            $.ajax({
                type: 'GET',
                url: "@Url.Content("/Sales/SalesFiltered/")",
                dataType: 'html',
                data: {
                    managerId: $("#ManagerId option:selected").val(),
                    clientId: $("#ClientId option:selected").val(),
                    productId: $("#ProductId option:selected").val(),
                    dateFrom: $("#datefrom").val(),
                    dateTo: $("#dateto").val()
                },
                success: function (result) {
                    $('#salesfiltered').html(result)
                },
                error: function (xhr, ajaxOptions, thrownError) {
                    alert(thrownError);
                }
            });
        }
    });
</script>
